    <!DOCTYPE html>
    <html>
    <head>
        <title>Bookers2</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body> 
        <div class="navbar-header">
            <nav class="navbar navbar-inverse navbar-fixed-top" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3>Bookers</h3>

                        </div>

                        <div class="col-sm-9">
                            <p class="text-muted">
                                <p class="nav navbar-nav navbar-right">

                                    <% if user_signed_in? %>

                                    <%= link_to user_path(current_user) do %>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
                                    <% end %>
                                    <%= link_to users_path do %>
                                    <span class="glyphicon glyphicon-user" aria-hidden="true">Users</span>
                                    <% end %>
                                    <%= link_to books_path do %>
                                    <span class="glyphicon glyphicon-book" aria-hidden="true">Books</span>
                                    <% end %>
                                    <%= link_to destroy_user_session_path, method: :delete do %>
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true">logout</span>
                                    <% end %>

                                    <% else %>
                                    <%= link_to root_path do %>
                                    <span class="glyphicon glyphicon-home" aria-hidden="true">Home</span>
                                    <% end %>
                                    <%= link_to home_about_path do %>
                                    <span class="glyphicon glyphicon-link" aria-hidden="true">About</span>
                                    <% end %>
                                    <%= link_to new_user_registration_path do %>
                                    <span class="glyphicon glyphicon-link" aria-hidden="true">sign up</span>
                                    <% end %>
                                    <%= link_to new_user_session_path do %>
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true" aria-hidden="true">login</span>
                                    <% end %>
                                    <% end %>

                                </div>
                            </p>
                        </p>
                    </p>
                </div>
            </div>
        </nav>
    </div>
    <p>
        <%= yield %>
        
    </p>

</body>

</html>
